<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>Breakfast App</title>
    </head>
    <body>
        
        <h1>Yell My Breakfast</h1>
        <form method="POST" action="/"> <!--posts it to the index route with the single slash -->
            <p>Enter your breakfast here: <input name="breakfast" /></p>
            <button type="submit">Submit!</button>
        </form>
    </body>
</html>


